@model HRSystem.Entity.User

@{
    ViewBag.Title = Model.Name + " Details";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<!-- Start Navbar-->
<nav class="d-flex justify-content-between m-4 p-1">
    <div class="d-flex">
        <a href="/Admin/CreateDepartment"><h4 class="font-weight-bolder mt-3 mb-3 text-primary"> @Model.Name Details </h4></a>
    </div>
</nav>
<!--End Navbar  -->
<div class="card-body">
    @if (ViewBag.SuccessMessage != null)
    {
        <div class=" d-flex justify-content-center">
            <div class="col-6 alert alert-success alert-dismissable">
                <strong>ViewBag.SuccessMessage </strong>
            </div>
        </div>
    }
    @if (ViewBag.ErrorMessage != null)
    {
        <div class=" d-flex justify-content-center">
            <div class="col-6 alert alert-danger alert-dismissable">
                <strong>ViewBag.ErrorMessage </strong>
            </div>
        </div>
    }
    <div class="card m-4">
        <div class="card-header pb-0 px-3">
            <h6 class="mb-0">User Information</h6>
        </div>
        <div class="card-body pt-4 p-3">
            <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                <div class="d-flex flex-column">
                    <h6 class="mb-3 text-sm">@Model.Name</h6>
                    <span class="mb-2 text-xs">UserName: <span class="text-dark font-weight-bold ms-sm-2">@Model.UserName</span></span>
                    <span class="mb-2 text-xs">Role: <span class="text-dark font-weight-bold ms-sm-2">@Model.Role.Name</span></span>
                    @if (Model.Department_id != null)
                    {
                        <span class="mb-2 text-xs">Department Name: <span class="text-dark ms-sm-2 font-weight-bold">@Model.Department.Name</span></span>
                    }
                    <span class="mb-2 text-xs">Salary: <span class="text-dark ms-sm-2 font-weight-bold">@Model.Salary $</span></span>
                </div>
                <div class="ms-auto text-end">
                    <a class="btn btn-link text-danger text-gradient px-3 mb-0" href="/Admin/DeleteEmployee/@Model.Id"><i class="far fa-trash-alt me-2"></i>Delete</a>
                    <a class="btn btn-link text-dark px-3 mb-0" href="/Admin/EditEmployee/@Model.Id"><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Edit</a>
                </div>
            </li>
        </div>
    </div>
    @if (ViewBag.experience.Count > 0)
    {
        <div class="card m-4">
            <!--Expernice -->
            <div>
                <div class="card-header pb-0 px-3">
                    <h6 class="mb-0">Experience</h6>
                </div>
                <div class="row d-flex justify-content-evenly flex-wrap">
                    @foreach (var ex in ViewBag.experience)
                    {
                        <div class="col-6 ">
                            <div class="card-body pt-4 p-3">
                                <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                                    <div class="d-flex flex-column">
                                        <h6 class="mb-3 text-sm">Experience</h6>
                                        <span class="mb-2 text-xs">Title: <span class="text-dark font-weight-bold ms-sm-2">@ex.Title </span></span>
                                        <span class="mb-2 text-xs">Description: <span class="text-dark ms-sm-2 font-weight-bold"> @ex.Description</span></span>
                                    </div>
                                </li>
                            </div>
                        </div>
                    }


                </div>
            </div>
        </div>

    }
